@charset "UTF-8";

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}
a { text-decoration: none;}

/* サイト名 */
.site h1 a	{color: #000000;
	text-decoration: none}
.site h1	{margin: 0;
	font-size: 10px}
.site img	{border: none}
.wrapper {max-width: 1200px;
    margin: 0 auto;}
/* box */
.box3, .box4, .space, .box_img, .box7, .box8, .box9   {text-align: center;
    margin-left: auto;
    margin-right: auto;}
.box4, .box7, .box8  {position: relative;}
.box9 {background-color: #fffbf7;}

.space {height: 100px;
    display: table;}
.space-inner p  {font-size: 120%;}
.space .space-inner,
.box7 .box7-inner {display: table-cell;
    vertical-align: middle;}
.space-inner .line {
    width: 1rem;
    margin-left: auto;
    margin-right: auto;
	border-top: solid 2px black;
	border-bottom: solid 2px black;}

.contentImg {max-width: 100%;}
.catch {position: absolute;
    top: -1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}
.contents {position: absolute;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;}
.box4 {padding-top: calc(800 / 1200 * 100%);
    background-size: contain;
    background-image: url("../images/img_1_pc.jpg");}
.box5 {
    padding-top: calc(1063 / 1200 * 100%);
    background-size: contain;
    background-image: url("../images/img_2_pc.jpg");}
.box6 {
    padding-top: calc(1114 / 1290 * 100%);
    background-size: contain;
    background-image: url("../images/img_3_pc.jpg");
    }
.box7 {padding-top: calc(835 / 1200 * 100%);
    background-size: contain;
    background-image: url("../images/img_4_pc.jpg");}
.box8 {padding-top: calc(1262 / 1200 * 100%);
    background-size: contain;
    background-image: url("../images/img_5_pc.jpg");}
.box7-inner {position: absolute;
    top: 10%;
    bottom: 10%;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5%;
    left: 15%;
    right: 15%;}
.flow {overflow: auto;}
.box7-inner ol { display: table-cell;
    padding-left: 5%;}
.box7-inner li { text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;}
.title, .title2 { font-size: 70%;
    border-bottom: 1px solid black;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;}
.title2 { margin-top: 10%; /* 上線の外側の余白はナシ */
   padding-top: 10px; /* 上線の内側の余白はナシ */}
.name { font-size: 50%;
    text-align: left;}
.box7-inner .text {font-size: 70%;
    text-align: left;}
.relative {position: relative;}
ul.error {color: red;
    font-size: 70%;
    line-height: 1.1;
    margin: 2%;
    list-style: none;
}

/* ########### 1007px以下 ########### */
@media (max-width: 1007px) {
#about, #usage, #price, #apply, #thoughts, #policy {margin-top: -60px;
    padding-top: 60px;}

.boxA, .menu {display: none;}
header {position: fixed;
    background-color:#fff;
    opacity: 0.9;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}
.wrapper {margin-top: 80px;}
.box3 p {font-size: 150%;
    line-height: 1.8;
    margin-bottom: 5%;}
.box4 {background-image: url("../images/img_1_sp.jpg");
    margin-top: 3%;}
.box4 p {font-size: 80%;}
.box4 .catch {font-size: 120%;
    line-height:3px;
    font-weight: bold;}
.box5 {padding-top: calc(1014 / 752 * 100%);
    background-image: url("../images/img_2_sp.jpg");}
.box6 {padding-top: calc(1526 / 1500 * 100%);
    background-image: url("../images/img_3_sp.jpg");}
.contents {top: 7%;}
.box7 {background-image: url("../images/img_4_sp.jpg");}
.box7-inner li {font-size: 88%}
.box8 {background-image: url("../images/img_5_sp.jpg");}
.box9 p {font-size: 110%;
    padding: 3% 0;
    margin: 0% 10%;}
.space-inner .line {
    width: .5rem;
	border-top: solid 1px black;
	border-bottom: solid 1px black;}

}

/* ########### 380px以下 ########### */
@media (max-width: 380px) {
.box4 p {font-size: 70%;}
.box4 p.contents {margin-top:14px;}
}

/* ########### 1008px以上 ########### */
@media (min-width: 1008px) {

/* トグルボタン */
#menubtn, header {display: none}

 /* ナビゲーション */
#menu	{display: block !important;}

.menu ul	{margin: 0;
	padding: 0;
	list-style: none}

.menu li a	{display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 14px;
    cursor: pointer;
	text-decoration: none}

.menu li a:hover	{background-color: #eeeeee}

.menu ul:after	{content: "";
	display: block;
	clear: both}

.menu li	{float: left;
	width: auto}

/* boxAの上下左右 */
.boxA   {padding: 20px 15px 10px;}

/* BOX1とBOX2を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both}

.box1	{float: left;
	width: auto}
.box2	{float: right;
	width: auto;
    padding-top: 37px;}

.space {height: 200px;}
.space p {font-size: 30px;}

.box3 p {font-size: 250%;
    line-height: 1.8;
    margin-bottom: 5%;}

.box4 p {font-size: 140%;}
.catch {top: 5%;}
.contents {top: 15%;}

.box7-inner li {font-size: 150%}
.box7-inner ol {padding-top: 10%}
.box7-inner {top: 20%;
    bottom: 20%;}
.box9 p {font-size: 180%;
    padding: 3%;
    margin: 0;}
}

/* ########### 1200px以上 ########### */
@media (min-width: 1200px) {

/* 全体の横幅を固定 */
.boxA-inner, .box3, .box4, .box_img, .box9
    {text-align: center;
	margin-left: auto;
	margin-right: auto}

/* BOX Aの下に罫線を挿入 */
.boxA	{margin-bottom: 20px;
	border-bottom: solid 1px #dddddd}

}
