/* ########### 全体 ########### */
.button {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 15%;
    font-size:1em;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:black;
    border: inset 1px black;
    background-color:white;
    border-radius:25px;
}

/* ########### 879px以下 ########### */
@media (max-width: 879px) {
.button {
    left: 30%;
    right: 30%;
    bottom: 7%;
}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.menu-trigger {
	position: absolute;
    top: 20px;
    right: 20px;
	width: 20px;
	height: 22px;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: black;
	border-radius: 2px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 10px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}
.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(10px) rotate(-45deg);
	transform: translateY(10px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-10px) rotate(45deg);
	transform: translateY(-10px) rotate(45deg);
}

}


